.App {
  text-align: center;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.social-icons a img {
  width: 30px;
  height: 30px;
}

.footer-section form {
  display: flex;
  flex-direction: column;
}

.footer-section input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.footer-section button {
  padding: 10px;
  background-color: gold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-section button:hover {
  background-color: darkgoldenrod;
}
