
.navbar-logo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
}

.navbar-logo img {
  height: 40px; 
  margin-right: 10px; 
}


.navbar-brand-info {
  display: flex;
  align-items: center;
}

.navbar-brand-name {
  font-size: 24px; 
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  position: sticky;
  top: 0;
  width: 97.5%;
  z-index: 1000; 
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu li a {
  text-decoration: none;
  color: #000; /* Adjust the text color as needed */
}

.cart-container {
  position: relative;
}

.cart-icon {
  width: 30px; /* Adjust the size as needed */
  height: auto;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}

.signin-button {
  background-color: #4CAF50; /* Adjust the button color as needed */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.signin-button:hover {
  background-color: #45a049; /* Adjust the hover color as needed */
}




.user-info {
  position: relative;
  display: inline-block;
}

.username-button {
  background: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;


  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 150px;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  padding: 10px;
  color: #333;
  text-align: left;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
