/* src/App.css */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .App-story, .App-plants, .App-numbers {
    padding: 20px;
    margin: 20px;
  }
  
  .App-plants .plant-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .numbers {
    display: flex;
    justify-content: space-around;
  }
  
  .number-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* src/components/PlantCard.css */
  .plant-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: left;
  }
  
  .plant-image {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  